<button class="header-add-task" id="add-task" type="button" title="Add Task">+</button>
<div class="hidden" id="modal-backdrop">
	<div class="hidden" id="add-task-modal">

		<span class="group-container-header">
			<h3 class="group-header-title">Add your task</h3>
			<button id="close-modal-top" type="button">x</button>
		</span>

		<form id="input-container">
			<input type="hidden" id="add-task-id" name="add-task-id">
			<label for="add-task-short" class="input-descriptor">Task Title:</label><input class="add-task-input" id="add-task-short" type="text" name="shortDesc" maxlength=50><br>
			<label for="add-task-date" class="input-descriptor">Due Date:</label><input class="add-task-input" id="add-task-date" type="date" name="dueDate"><br>
			<label for="add-task-prio" class="input-descriptor">Priority:</label><input class="add-task-input" id="add-task-prio" type="number"><br>
			<label for="add-task-group" class="input-descriptor">Group:</label>
			<select class="add-task-input" id="add-task-group" name="group">
				<option>A</option>
				<option>B</option>
				<option>C</option>
				<option>D</option>
			</select><br>
		</form>

		<div class="modal-buttons">
			<button id="accept-modal-button" type="button">Accept</button>
			<button id="cancel-modal-button" type="button">cancel</button>
		</div>
	</div>
</div>
