<div class="hidden" id="modal-backdrop">
	<div class="hidden" id="add-task-modal">

		<span class="group-container-header">
			<h3 class="group-header-title">Add your task</h3>
			<h3 id="close-modal-top">x</h3>
		</span>

		<form id="input-container">
			<h4 class="input-descriptor">Short Description:</h4><input class="add-task-input" id="add-task-short" type="text" name="shortDesc" maxlength=50><br>
			<h4 class="input-descriptor">Due Date:</h4><input class="add-task-input" id="add-task-date" type="date" name="dueDate"><br>
			<h4 class="input-descriptor">Task Priority:</h4><input class="add-task-input" id="add-task-prio" type="number"><br>
			<h4 class="input-descriptor">Full Description:</h4><input class="add-task-input" id="add-task-long" type="text" name="fullDesc"><br>
		</form>

		<div class="modal-buttons">
			<button id="accept-modal-button" type="button">Accept</button>
			<button id="cancel-modal-button" type="button">cancel</button>
		</div>
	</div>
</div>