<div class="group-container" id="group-{{letter}}">
	<span class="group-container-header" id="group-{{letter}}-header">
		<h2 class="group-header-title">Group {{letter}}</h2>
		<button class="group-header-add-task" id="add-task-{{letter}}">+</button>
	</span>
	{{#each tasks}}
		 {{> task}}
	{{/each}}
</div>
