<! DOCTYPE html>
	<html>
		<head>
			<title>Task Manager</title>
			<meta chartype="utf-8">
			<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet"><!--adds the ubuntu font-->
			<link rel="stylesheet" type="text/css" href="style.css">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.min.js" charset="utf-8" defer></script>
			<script src="/groupTemplate.js" charset="utf-8" defer></script>
			<script src="index.js" charset="utf-8" defer></script>
		</head>

		<body>
		{{> header}}
		{{{body}}}
  </body>

	</html>