body
{
	background-color: #E8E6C6;
}

h1, body
{
	margin: 0;
	padding: 0;
}

/*contains all the styling for the elements in the header*/
header
{
	/* background-color: #FF6D10; {orange}*/
	background-color: #16D900;
	height: 20mm;
}

.header-add-task {
	position: absolute;
	top: 20px;
	right: 20px;
}

#site-title h1
{
	font-size: 250%;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	padding-top: 1%;
	padding-left: 2%;
}

/*contains all the styling for the group container elements*/
#container
{
	display: flex;
	flex-wrap: wrap;

	margin: 1%;
	/* border: solid rgba(0,0,0,.25); */
}

.group-container
{
	background-color: white;
	width: 40%;
	flex: auto;
	margin: 1%;
	border: solid rgba(0,0,0,.25);
	border-radius: 5px;
}

.group-container-header
{
	/* background-color: #FF6D10; {orange}*/
	background-color: rgba(23, 211, 28, .8);
	display: flex;
}

.group-header-title
{
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
}

.group-header-title:hover
{
	cursor: pointer;
}

.group-header-add-task, .header-add-task
{
	font-size: 18px;
	margin: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	border-width: 0;
	color: white;
	background-color:black;
}

.group-header-add-task:hover, .header-add-task:hover
{
	cursor: pointer;
	color: black;
	background-color: white;
}

/*Contains the styling for the tasks and their containers*/
.task-container
{
	background-color: white;
	display: flex;
	justify-content: center;
}

.task-container span h1
{
	display: inline-flex;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 14px;
	margin: 5px;
}

.task-container span h1:first-child:hover
{
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

.task-container span .remove-task
{
	vertical-align: top;
	font-size: 16px;
	padding: 0 5px;
	border-radius: 3px;
	border-width: 0;
	background-color: rgba(94, 208, 211, .85);
	/* color: #ED312E; */
	color: white;
}

.task-container span .remove-task:hover
{
	color: #ED312E;
	cursor: pointer;
}

.task-container span .edit-task
{
	vertical-align: top;
	font-size: 16px;
	padding: 0 2px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 3px;
	/* margin: 5px; */
}

.task-container span .edit-task:hover
{
	cursor: pointer;
	color: black;
	background-color: white;
}

/*contains the styling for the 404 page content */
.error-container
{
	text-align: center;
}

/*Contains all the styling for modal elements*/
#modal-backdrop
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
}

#add-task-modal
{
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	background-color: gray;
	width: 50%;
	height: 70%;
	margin: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;


}

#close-modal-top
{
	margin: 1px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	color: white;
	background-color: black;
}

#close-modal-top:hover
{
	cursor: pointer;
	color: black;
	background-color: white;
}

.input-descriptor
{
	display: inline;
	margin: 10px;
}

#input-container
{
	text-align: right;
	margin: 0 auto;
	width: 90%;
}

.add-task-input
{
	margin: 10px;
	width: 70%;

}

.modal-buttons
{
	text-align: center;
	margin: 2% 5%;
}

#accept-modal-button
{
	width: 20%;
	height: 12%;
	font-size: 15px;
	padding: 1px 4px;
	margin: 0 10px;
	border: none;
	border-radius: 3px;
	color: white;
	background-color: black;
}

#accept-modal-button:hover
{
	cursor: pointer;
	color: black;
	background-color: white;
}

#cancel-modal-button
{
	width: 20%;
	height: 12%;
	font-size: 15px;
	padding: 1px 4px;
	margin: 0 10px;
	border: none;
	border-radius: 3px;
	color: white;
	background-color: black;
}

#cancel-modal-button:hover
{
	cursor: pointer;
	color: black;
	background-color: white;
}

.hidden
{
	/* display: none; */
}
